:root {
	font-family: 'Oswald', cursive;
	font-family: 'Covered By Your Grace', cursive;
	font-family: 'Open Sans', sans-serif;
}
body {
	font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3 {
	font-family: 'Oswald', cursive;
	color: #2c1320;
}
h1 {
	font-size: 3.4rem;
}
h2 {
	font-size: 2.4rem;
}
h3 {
	font-size: 3rem;
}

h4.sub-title {
	text-transform: uppercase;
	color: #2c1320;
	font-size: 16px;
}

.btn-success {
	background-color: #dc135f;
	border-color: #dc135f;
	padding: 0.8rem 0;
	text-transform: uppercase;
	border-radius: 0.8rem;
}
.btn-success:hover {
	background-color: rgb(184, 5, 73);
	border-color: rgb(192, 7, 78);
}
.slider-container {
	padding-top: 97px;
}
.slider {
	background: url(../img//superior.jpg);
	min-height: 300px;
	height: 81vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	/* 	background-position: center center; */
	background-position: 50% 30%;
	background-size: cover;
	background-repeat: no-repeat;
}
.slider h1 {
	color: #2c1320;
}
.slider p {
	font-weight: 500;
	margin-bottom: 0;
	font-size: 24px;
	color: #2c1320;
}
.go-to-about {
	text-align: center;
}
.btn-outline-primary.learn-more {
	border-color: #2c1320 !important;
	color: #2c1320 !important;
}

.btn-outline-primary.learn-more:active {
	background-color: #2c1320 !important;
	color: white !important;
}

.btn-outline-primary.learn-more:hover {
	background: #2c1320;
	color: white !important;
}

@media (min-width: 768px) {
	.slider em {
		font-size: 8rem;
	}
}
.home {
	position: relative;
}
.home .navigation {
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.nav-link.active {
	border-top: 2px solid #5f4b66;
}
blockquote {
	font-weight: bold;
	line-height: 2;
}
p {
	font-size: 1rem;
	line-height: 2;
}
.navigation {
	background-color: #fff;
}
header .nav a {
	font-family: 'Oswald', cursive;
	font-size: 1.5rem;
	color: #2c1320;
}
.footer {
	background-color: #56667a !important;
	color: white;
}
footer .nav a,
.copyright {
	font-family: 'Oswald', cursive;
	font-size: 1.3rem;
	color: white;
}
.list-icons {
	background-color: #a7adc62e;
}
.list-icons img {
	height: 100px;
}

.list-icons h2 {
	font-size: 2.1rem;
}

.discount {
	height: 400px;
	background-image: linear-gradient(
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.5) 100%
		),
		url(../img/cupon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.discount h3 {
	color: white;
}
@media (min-width: 768px) {
	.discount {
		height: 400px;
		background-image: linear-gradient(
				to right,
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0.5) 50%,
				transparent 50%,
				transparent 100%
			),
			url(../img/cupon.jpg);
	}
}
.discount .contenido {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 400px;
	color: white;
}
.discount p {
	font-family: 'Oswald', cursive;
	line-height: 0.8;
}
.discount .title {
	font-size: 2.4rem;
	color: #fff;
}
.discount .date {
	font-size: 1.5rem;
	color: #fff;
}
.discount .price {
	color: #a7adc6;
	font-size: 3rem;
}

.upcoming-trips p {
	font-size: 0.9rem;
}
i {
	color: #dc135f;
	font-size: 2rem;
}

.reviews p {
	font-size: 0.8rem;
	font-weight: normal;
}
.reviews p::before {
	background-image: url(../img/quote.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;
	content: '';
	width: 20px;
	height: 20px;
	display: block;
	margin-bottom: 1rem;
}
.blockquote-footer {
	text-align: right;
	color: #2c1320;
	font-weight: bold;
	margin-top: 1rem;
}

.backgroundColor {
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	padding: 20px;
}
.trip-card {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
	border: none !important;
	text-align: center;
}
.backgroundColorUs {
	background-image: url(../img/background_1.jpg);
	background-repeat: no-repeat;
	padding: 12px;
	background-size: cover;
	background-position: right;
}

.trip-card h4 {
	font-weight: 600;
	color: #2c1320;
	font-size: 19px;
}
.more-info {
	font-size: 12px;
	border: none;
	text-decoration: underline;
	color: #2c1320 !important;
	text-align: center;
}
img.trip-icon {
	width: 25px;
	height: auto;
}

.info-block {
	align-items: end;
}
h2.trip-title {
	font-size: 1.8rem;
}

h1.trip-title {
	font-size: 2.8rem;
}
.send {
	text-align: center;
}
.send .btn {
	background-color: #2c1320 !important;
	border-color: #2c1320 !important;
	color: white !important;
}
