<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Open+Sans:wght@400;700&family=Staatliches&display=swap', rel='stylesheet')
        link(href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', rel='stylesheet')
        link(rel='stylesheet', href='/css/style.css')
        title #{title} | #{page}
       
    body(class=clase)
        include includes/header
        block slider
        block content
        include includes/footer