extends ../layout/index
block content
    main.container.mt-5
        .backgroundColorUs
            .row
                .col-md-5
                    img(src="img/nosotros.jpg", alt="us image" class='img-fluid')
                .col-md-7
                    h1 #{page}
                    blockquote Aliquam a convallis tellus, mollis laoreet justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales justo id urna rutrum, id tempor urna convallis. Quisque ut quam ipsum.
                    p Nunc leo odio, porttitor at fermentum nec, hendrerit eu ipsum. Integer ornare dui fringilla eros elementum cursus. Aenean venenatis nulla quis lectus fermentum, quis malesuada dui varius.
                    p Sed in rhoncus leo. In nec nisi libero. Nulla suscipit pellentesque dolor, eget tristique enim fermentum vitae. Morbi rhoncus malesuada ex in sodales. Cras mollis, diam quis varius malesuada, erat sem tincidunt odio, id aliquam lectus sapien in purus. 

    .list-icons
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/best.png", alt="icon security", class="img-fluid mb-4")
                    h2.mb-4 Best accommodations
                    p Proin rhoncus lectus mauris, et bibendum nulla viverra ac. Sed semper est vitae mauris condimentum vulputate.
                .col-md-4
                    img(src="img/quality.png", alt="icon security", class="img-fluid mb-4")
                    h2.mb-4 Quality service
                    p Proin rhoncus lectus mauris, et bibendum nulla viverra ac. Sed semper est vitae mauris condimentum vulputate.
                .col-md-4
                    img(src="img/luxury.png", alt="icon security", class="img-fluid mb-4")
                    h2.mb-4 Unique experiences
                    p Proin rhoncus lectus mauris, et bibendum nulla viverra ac. Sed semper est vitae mauris condimentum vulputate.