.row.upcoming-trips
    each trip in trips
        .col-md-6.col-lg-4.mb-4
            .card.trip-card 
                img(src=`img/destinos_${trip.image}.jpg`, class="img-fluid", alt=`${trip.image} image`)  
                .card-body
                    h4.text-center=trip.title
                    a(href=`trips/${trip.id}`, class="more-info", title="title") more info 